* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.form-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 395px;
  margin-top: 9%;
  margin-bottom: 2%;
}

@media screen and (max-width: 950px) {
  .form-box {
    margin-top: 21%;
    margin-bottom: 2%;
  }
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: white;
  color: #333;
  font-size: 16px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: #333;
  font-size: 14px;
}

span {
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

span:hover {
  color: #0056b3;
}
