<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/figures/fav.png') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

</head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <div class="menu-btn">&#9776;</div>
        <!-- Hamburger icon -->
        <div class="navbar-logo">
          <span class="navbar-title">MuscleMonitor</span>
          <img
            src="{{url_for('static',filename='/figures/logo1.png')}}"
            alt="Weightlifter Icon"
            loading="lazy"
            class="icon_BjQb2"
          />
        </div>
        <ul class="navbar-menu">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('exercises')}}">Exercises</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
          <li><a href="{{url_for('blog')}}">Blog</a></li>
        </ul>
        <button id="dark-mode-toggle" class="dark-mode-btn">Dark Mode</button>
      </div>
    </nav>

    {% block content %} {% endblock %}
    <footer class="main3">
      <div class="footerContainer">
        <div class="socialIcons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="footerNav">
          <ul style="padding: 0%;">
            <li><a href="">Home</a></li>
            <li><a href="">Exercises</a></li>
            <li><a href="">About</a></li>
          </ul>
        </div>
      </div>
      <div class="footerBottom">
        <p>
          Copyright &copy;<span class="date"></span>,
          <span class="designer">Muscle Monitoring System</span>
        </p>
      </div>
    </footer>

    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="{{url_for('static', filename='script1.js')}}"></script>
  </body>
</html>
