<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <table>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
