{% extends 'base.html' %} 
{% block title %} Muscle Monitoring System {% endblock %} 
{% block content %}

<main class="home-content">
  <div class="text-container">
    <h1>Welcome to Muscle Monitoring System</h1>
    <p>
      Our innovative muscle monitoring system is specifically designed for
      biceps and triceps, ensuring that your exercise routines are performed
      with optimal posture and technique. By providing real-time feedback, the
      system guides you through each movement, helping you maintain correct form
      and prevent injury. If your posture deviates from the ideal, the system
      immediately alerts you, allowing for quick adjustments to enhance the
      effectiveness of your workout. This intelligent monitoring not only
      promotes better muscle development but also supports a safer and more
      efficient exercise experience.
    </p>
    <button class="get-started-btn">Get Started</button>
    {% if current_user.is_authenticated %}
      <button class="signup-login-btn" onclick="location.href='/logout'">Logout</button>
    {% else %}
      <button class="signup-login-btn" onclick="location.href='/login'">Sign Up / Login</button>
    {% endif %}
  </div>
  <div class="image-slider">
    <img
      src="{{url_for('static',filename='/figures/login2.avif')}}"
      class="slider-image active"
      alt="Image 1"
    />
  </div>
</main>
{% endblock %}
